<template>
  <my-Toast />
  <p>Начало разработки</p>

  <my-Card style="width: 35em; height: 350px; vertical-align: middle">
    <template #header>
      <!--  <img alt="user header" src="@/assets/person.png" /> -->
    </template>
    <template #title> Карточка студента </template>
    <template #content>
      <span class="p-float-label">
        <my-InputText
          id="lastName"
          type="text"
          v-model="student.lastName"
          style="width: 60%"
        />
        <label for="lastName">Фамилия</label>
      </span>
      <br />
      <span class="p-float-label">
        <my-InputText
          id="firstName"
          type="text"
          v-model="student.firstName"
          style="width: 60%"
        />
        <label for="firstName">Имя</label>
      </span>
      <br />
      <span class="p-float-label">
        <my-InputText
          id="middleName"
          type="text"
          v-model="student.middleName"
          style="width: 60%"
        />
        <label for="middleName">Отчество</label>
      </span>
      <br />
      <span class="p-float-label">
        <my-InputText
          id="studentGroup"
          type="text"
          v-model="student.studentGroup"
          style="width: 60%"
        />
        <label for="studentGroup">Группа</label>
      </span>
      <br />
      <span class="p-float-label">
        <my-InputText
          id="course"
          type="text"
          v-model="student.course"
          style="width: 60%"
        />
        <label for="course">Курс</label>
      </span>
      <br />
    </template>

    <template #footer>
      <my-Button @click="saveStudent" icon="pi pi-check" label="Сохранить" />
      <my-Button
        icon="pi pi-times"
        label="Отменить"
        class="p-button-secondary"
        style="margin-left: 0.5em"
      />
    </template>
  </my-Card>
  <br />
  <br />
  <span>
    <my-Button
      @click="getAllStudents"
      icon="pi pi-check"
      label="Получить список студентов"
    />
  </span>
  <br />
  <br />

  <my-DataTable :value="students" selectionMode="single">
    <my-Column field="id" header="Номер"></my-Column>
    <my-Column field="firstName" header="Имя"></my-Column>
    <my-Column field="lastName" header="Фамилия"></my-Column>
    <my-Column field="middleName" header="Отчество"></my-Column>
    <my-Column field="studentGroup" header="Группа"></my-Column>
    <my-Column field="course" header="Курс"></my-Column>

    <my-Column :exportable="false" style="min-width:8rem">
                    <template #body="slotProps">
                      <my-Button icon="pi pi-trash" class="p-button-rounded p-button-warning" @click="confirmDeleteStudent(slotProps.data)" />
                    </template>
                </my-Column>

  </my-DataTable>


<my-Dialog v-model:visible="deleteStudentDialog" :style="{width: '450px'}" header="Внимание" :modal="true">
            <div class="confirmation-content">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
                <span v-if="student">Хотите отчислить студента <b>{{student.id}}</b>?</span>
            </div>
            <template #footer>
                <my-Button label="Нет" icon="pi pi-times" class="p-button-text" @click="deleteStudentDialog = false"/>
                <my-Button label="Да" icon="pi pi-check" class="p-button-text" @click="deleteStudent" />
            </template>
        </my-Dialog>


</template>


<script>

import {FilterMatchMode} from 'primevue/api';

export default {
  name: "App",
  components: {},
  mounted() {},
  data() {
    return {
      dataKey: null,
      students: null,
      filters: {},
      studentToDelete: null,
      studentDialog: false,
      deleteStudentDialog: false,


      student: {
        firstName: null,
        lastName: null,
        middleName: null,
        studentGroup: null,
        course: null,
      },
    };
    
  },

  methods: {

  
    confirmDeleteStudent(students) {
           this.student = students;
            this.deleteStudentDialog = true;
            console.log("Попытка отчисления");
        },     

       deleteStudent() {
            this.axios
            .delete("http://localhost:8787/students/" + this.student.id )
            this.student = {};
            this.deleteStudentDialog = false;
            this.$toast.add({severity:'Успешно!', summary: 'Успешно!', detail: 'Студент отчислен!!!', life: 3000});
            console.log("Студент отчислен");
        },

findIndexById(id) {
            let index = -1;
            for (let i = 0; i < this.student.length; i++) {
                if (this.student[i].id === id) {
                    index = i;
                    break;
                }
            }

            return index;
        },
        createId() {
            let id = '';
            var chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            for ( var i = 0; i < 5; i++ ) {
                id += chars.charAt(Math.floor(Math.random() * chars.length));
            }
            return id;
        },



initFilters() {
            this.filters = {
                'global': {value: null, matchMode: FilterMatchMode.CONTAINS},
            }
},


    saveStudent() {
      console.log(
        "Сохранение студента ==>",
        this.student.firstName,
        " " + this.student.middleName,
        " " + this.student.lastName
      );
      this.axios
        .post("http://localhost:8787/students", this.student)
        .then((response) => {
          console.log("Сохранен студент => ", response.data);
          let student = response.data;
          this.$toast.add({
            severity: "success",
            detail:
              student.lastName +
              " " +
              student.firstName +
              " " +
              student.middleName +
              " " +
              student.studentGroup +
              " " +
              student.course,
            life: 3000,
          });
        })
        .catch((error) => {
          if (error.response) {
            console.log("Ошибка ответа сервера:", error.response.data);
            console.log("Статус ошибки ответа: ", error.response.status);
            console.log("Заголовки ошибки ответа: ", error.response.headers);
          } else if (error.request) {
            console.log("Не получен ответ на запрос: ", error.request);
            this.$toast.add({
              severity: "error",
              detail: "Ошибка сохранения студента",
              life: 3000,
            });
          } else {
            console.log("Ошибка отправки запроса: ", error.message);
          }
          if (error.config) {
            console.log("Ошибка конфигурации: ", error.config);
          }
        });
    },

    getAllStudents() {
      console.log("Получение полного списка студентов");
      this.axios
        .get("http://localhost:8787/students", this.student)
        .then((response) => {
          console.log(" Получен список студентов => ", response.data);
          this.students = response.data;
        })
        .catch((error) => {
          if (error.response) {
            console.log("Ошибка ответа сервера:", error.response.data);
            console.log("Статус ошибки ответа: ", error.response.status);
            console.log("Заголовки ошибки ответа: ", error.response.headers);
          } else if (error.request) {
            console.log("Не получен ответ на запрос: ", error.request);
          } else {
            console.log("Ошибка отправки запроса: ", error.message);
          }
          if (error.config) {
            console.log("Ошибка конфигурации: ", error.config);
          }
        }); 
    },
  },
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
